[Unit]
Description=Patch Management is patching the system

[Service]
WorkingDirectory=%h/atomic_update
Type=oneshot

ExecStart=/usr/bin/bash -c '\
export ANSIBLE_LOG_PATH="{{ patch_user_logs }}/patchmgmt_$(date --iso-8601=seconds).log"; \
ansible-playbook patchmgmt.yml'

ExecStartPost=/usr/bin/sudo /usr/bin/systemctl reboot

Restart=on-failure
RestartSec=1day

[Install]
WantedBy=default.target
