[Unit]
Description=Keep Patch Management up-to-date through GitHub

[Service]
WorkingDirectory=%h/atomic_update
ExecStart=/usr/bin/git pull
Restart=always
RestartSec=60min

[Install]
WantedBy=default.target
