[Unit]
Description=Patch Management is patching the system

[Service]
WorkingDirectory=%h/atomic_update
Type=oneshot

ExecStart=/usr/bin/ansible-playbook -i inventory.ini patchmgmt.yml
ExecStartPost=/usr/bin/sudo /usr/bin/systemctl reboot

[Install]
WantedBy=default.target