[Unit]
Description=Patch Management is patching the system

[Service]
WorkingDirectory=%h/atomic_update
Type=oneshot

ExecStart=/usr/bin/bash -c '\
export ANSIBLE_LOG_PATH="{{ patch_user_logs }}/system_update_checker_$(date --iso-8601=seconds).log"; \
ansible-playbook -i inventory.ini system_update_checker.yml'

[Install]
WantedBy=default.target