### Sudo rules which allows the {{ patch_user }} user to install packages without a password
## Using - trizen
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman /tmp/trizen-{{ patch_user }}/*/*.pkg.tar.xz -U --noprogressbar --noconfirm --needed --asdeps
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman /tmp/trizen-{{ patch_user }}/*/*.pkg.tar.xz -U --noprogressbar --noconfirm --needed
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman /tmp/trizen-{{ patch_user }}/*/*.pkg.tar.xz -U --noprogressbar --noconfirm --asdeps
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman /tmp/trizen-{{ patch_user }}/*/*.pkg.tar.xz -U --noprogressbar --noconfirm
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman /tmp/trizen-{{ patch_user }}/*/*.pkg.tar.xz -U --noconfirm --asdeps
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman /tmp/trizen-{{ patch_user }}/*/*.pkg.tar.xz -U --noconfirm
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman --noconfirm -S --asdeps *
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman -Syu --noconfirm --ask 20
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman -Syu --noconfirm
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman -Sy --noconfirm
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman -Syu
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman -Sy

## Using - pikaur
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman -T
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman --color=never --upgrade --noconfirm --noprogressbar --needed /{{ patch_user }}/.cache/pikaur/pkg/*
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman --color=never --upgrade --needed --noconfirm --noprogressbar /{{ patch_user }}/.cache/pikaur/pkg/*
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman --color=never --upgrade --noprogressbar --needed --noconfirm /{{ patch_user }}/.cache/pikaur/pkg/*
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman --color=never --upgrade --noconfirm --needed --noprogressbar /{{ patch_user }}/.cache/pikaur/pkg/*
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman --color=never --upgrade --needed --noprogressbar --noconfirm /{{ patch_user }}/.cache/pikaur/pkg/*
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman --color=never --upgrade --noprogressbar --noconfirm --needed /{{ patch_user }}/.cache/pikaur/pkg/*
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman --color=never --noconfirm --sync --asdeps *
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman --color=never --noconfirm --remove *
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman --color=never --sync --noconfirm --ask=20 *
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman --color=never --sync --needed --noconfirm --ask=20 *
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman --color=never --sync --refresh
#{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/

### Allow to install the zfs_packages individually without sudo password
{% for zfs_package in zfs_packages %}
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman /tmp/trizen-{{ patch_user }}/{{ zfs_package }}/{{ zfs_package }}-*.pkg.tar.xz -U --asdeps
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman /tmp/trizen-{{ patch_user }}/{{ zfs_package }}/{{ zfs_package }}-*.pkg.tar.xz -U
{% endfor %}
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/pacman -S --noprogressbar --noconfirm --needed {{ zfs_packages | join(' ') }}

### Sudo rule which allow the {{ patch_user }} to do a zfs mount without a password
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/zfs mount zroot*/ROOT/*_next_boot

### Sudo rules which allow the {{ patch_user }} to umount all the bind-mounts listed in the variable 'binds'
{% for bind in binds %}
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/umount {{ next_boot_mountpoint }}{{ bind }}
{% endfor %}

### Sudo rules which allow the {{ patch_user }} to mount all the bind-mounts listed in the variable 'binds'
{% for bind in binds %}
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/mount --bind {{ bind }} {{ next_boot_mountpoint }}{{ bind }}
{% endfor %}

### Allow user '{{ patch_user }}' to run (arch-)chroot
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/arch-chroot /tmp/pre-pare_next_boot /bin/sh -c *

### Allow user '{{ patch_user }}' to umount the entire next_boot envirement
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/umount --recursive {{ next_boot_mountpoint }}

### Allow user '{{ patch_user }}' to set the new bootfs filesystem
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/zpool set bootfs={{ distro_next_boot_path }} {{ root_zfs_pool }}

### Allow user '{{ patch_user }}' to reboot the system
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/systemctl reboot

### Allow user '{{ patch_user }}' to read & overwrite '/boot/grub/grub.cfg'
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/tee /boot/grub/grub.cfg
{{ patch_user }} ALL=(ALL) NOPASSWD: /usr/bin/cat /boot/grub/grub.cfg
