[Unit]
Description=Rename/Move ZFS filesystem after patchmgmt
DefaultDependencies=no
Requires=zfs-import-scan.service
After=zfs-import-scan.service
Before=sysroot.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{ initcpio_hook_dir }}/patchmgmt-next-boot.sh

[Install]
WantedBy=initrd-root-device.target
